@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    color: #fff;
    top: 0;
    right: -200px;
    z-index: 98;
    transition: all linear 0.5s;
  }
  nav .fa-solid {
    display: block;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }

  /* courses */
  .row {
    margin-top: 2%;
    flex-direction: column;
  }
  /* testimonials */
  .testimonial-col {
    display: block;
  }
  .testimonial-col img {
    width: 60%;
    height: 80px;
    display: block;
    margin: 0 auto 5px;
  }
}
